<ul class="nav">
  <li><%= link_to "How's the boy doin?", root_path %></li>
  <li><%= link_to 'Leave a get well message', get_well_messages_path %></li>
  <%= render 'layouts/navigation_links' %>
</ul>
